@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.collectionFilms__info{
	width: 100%;
	padding-bottom: 30px;

	@media (max-width: 1200px) {
		&{
			margin-bottom: 30px;
		}
	}

	@media (max-width: 550px) {
		&{
			margin-bottom: 20px;
		}
	}

	&-text{
		@include fontSize-20;
		color: $white;
		text-align: justify;

		@media (max-width: 1200px) {
			&{
				font-size: 18px;
				line-height: 21px;
			}
		}

		@media (max-width: 550px) {
			&{
				font-size: 14px;
				line-height: 16px;
			}
		}
	}
}