@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.regular-text{
	@include regularText;
	color: $white;

	@media (max-width: 550px) {
	 &{
		font-size: 14px;
		line-height: 16px;
	 }
	}
}
.subTitle{
	@include subTitle;
	color: $white;
}

.fontBold18{
	@include fontBold18;
}