@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

// !SCROLL BAR STYLE
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $green;
  height: 5px;
}
// !container
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

// !section paddins
.section-padding{
  padding: 40px 0;
}

.content__title{
  margin-bottom: 30px;
}

// !preloader

#hidden {
  overflow: hidden;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: #000;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 1s ease;

  z-index: 2000;
}

.disappear {
  opacity: 0;
  visibility: hidden;
}

// !preloader end

.home-page {
  background: url("../../images/bgImg/bg-1.png") no-repeat left top,
    url("../../images/bgImg/bg-2.png") no-repeat right bottom;
}

.movie-page {
  background: url("../../images/bgImg/bg-1.png") no-repeat left top,
    url("../../images/bgImg/bg-2.png") no-repeat right center,
    url("../../images/bgImg/bg-3.png") no-repeat left bottom,
}

// !MAIN

.main {
  padding-bottom: 60px;

  @media (max-width: 786px) {
    & {
      padding-bottom: 30px;
    }
  }
}

.main__inner {
  display: grid;
  grid-template-columns: 72% 25%;
  gap: 30px;
}

// !MEDIA QUERIES
@media (max-width: 1170px) {
  .main__inner {
    display: grid;
    grid-template-columns: 62% 35%;
    gap: 30px;
  }
}

@media (max-width: 900px) {
  .main__inner {
    display: grid;
    grid-template-columns: 100%;
    gap: 0;
  }
}
// !MAIN END
