@use "./variables" as *;

@mixin regularText {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@mixin subTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

@mixin fontBold18 {
  font-weight: 700; 
  font-size: 18px;
  line-height: 27px;
  color: $white;
}

@mixin navbarBg {
  background: $navbarRadialGradient;
  box-shadow: $shadow-1;
}

@mixin transparentNavbarBg {
  background: $dark-5;
  box-shadow: $shadow-1;
  border: $border-1;
}

@mixin transparentFooterBg{
  background: $footerRadialGradient;
  box-shadow: $shadow-2;
  backdrop-filter: $backdropFilter;
}

@mixin contentBg {
  background: $dark-5;
  box-shadow: $shadow-1;
  border: $border-1;
  backdrop-filter: $backdropFilter;
  border-radius: 5px;
}

@mixin fontSize-20 {
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
}

@mixin sliderArrow {
	font-size: 0;
	width: 30px;
	height: 30px;
	padding: 12px;
	border-radius: 50%;
}
