// !colors
$white: #ffffff;
$dark: #212121;
$dark-5: rgba(28, 29, 31, 0.5);
$green: #81becb;
$gray: #6d7a7c;
$gray-light: #a8a8a8;
$navbarRadialGradient: radial-gradient(
  696.2% 730.65% at 47.6% 26.27%,
  #181a19 0%,
  #24282b 68.62%
);
$footerRadialGradient: radial-gradient(
  696.2% 730.65% at 47.6% 26.27%,
  rgba(24, 26, 25, 0.5) 0%,
  rgba(36, 40, 43, 0.5) 68.62%
);
// !colorsend

// !border and box shadow
$border-1: 1px solid #2b2b2b;
$border-2: 1px solid #323232;
$border-green: 1px solid #81becb;

$shadow-1: 0px 7px 16px rgba(0, 0, 0, 0.25);
$shadow-2: 0px -7px 16px rgba(0, 0, 0, 0.25);
$backdropFilter: blur(10px);

// !border and box shadow end
// !philosopher font
$philosopher: "Philosopher";
// !philosopher font end
